<span id="top"></span>

<section class="nav" id="navigation">
  <container>
    <row>
      <column size="33">
        <a href="/" class="nav-brand">{{ site.title }}</a>
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank" class="nav-icon" title="Follow @{{ site.twitter }} on Twitter"><icon class="icon-twitter"></icon></a>
        <a href="https://github.com/{{ site.github }}" target="_blank" class="nav-icon" title="Follow {{ site.github }} on GitHub"><icon class="icon-github"></icon></a>
        <a href="{{ site.slack-invite }}" target="_blank" class="nav-icon" title="Join {{ site.title }} on Slack!"><icon class="icon-slack"></icon></a>
      </column>
      <column size="66" class="text-right">
        <div class="nav-actions">
          <span>I want to:</span>
          <a href="/speak">Speak</a><a href="/perform">Perform</a><a href="/sponsor">Sponsor</a>
        </div>
      </column>
    </row>
  </container>
</section>
