// Layout
header, section, footer {
  position: relative;
  padding: $spacing-unit 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 100%;
  @include media-query($on-palm) {
    padding: ($spacing-unit * .66) 8px;
  }
}

// Header
header {
  z-index: 50;
}

// Sections
section {
  *padding: 100px 0;
  align-items: center;
  // background: white;
}

// Wrapper
container {
  display: block;
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }

  @include media-query($on-palm) {
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
container[size="large"] {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2) + 250px);
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2) + 250px);
}
containerless {
  display: block;
  width: 100%;
  padding: 0 1em;
}

// Rows
row, .row, rows, .rows {
  display: flex;
  // flex: 0 1 auto;
  flex: 1;
  flex-wrap: wrap;
  // flex-flow: row wrap;
  // margin-right: -0.5rem;
  // margin-left: -0.5rem;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

[float="left"] {
  justify-content: flex-start;
  justify-content: start;
  text-align: start;
}
[float="center"] {
  justify-content: flex-center;
  justify-content: center;
  text-align: center;
}
[float="right"] {
  justify-content: flex-end;
  justify-content: end;
  text-align: end;
}

[align="top"] {
  align-items: flex-start;
}
[align="middle"] {
  align-items: center;
}
[align="bottom"] {
  align-items: flex-end;
}

[distribute="around"] {
  justify-content: space-around;
}
[distribute="between"] {
  justify-content: space-between;
}

[order="reverse"] {
  flex-direction: row-reverse;
}

[direction="row"] {
  flex-direction: row;
}
[direction="row-reverse"] {
  flex-direction: row-reverse;
}
[direction="column"] {
  flex-direction: column;
}
[direction="column-reverse"] {
  flex-direction: column-reverse;
}

columnz, .columnz {
  display: block;
  flex: 1 1 auto;
  flex-grow: 1;
  flex-basis: 0px;
  max-width: 100%;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

column, .column {
  @extend .columnz;
  @include media-query($on-laptop) {
    flex-basis: 100%!important;
    flex-basis: calc(100% - (#{$spacing-unit} / 2))!important;
    max-width: 100%!important;
  }
}

columny, .columny {
  @extend .columnz;
  @include media-query($on-palm) {
    flex-basis: 100%!important;
    flex-basis: calc(100% - (#{$spacing-unit} / 2))!important;
    max-width: 100%!important;
  }
}

[size="5"] {
  flex-basis: 5%;
  flex-basis: calc(5% - (#{$spacing-unit} / 2));
  max-width: 5%;
}
[size="10"] {
  flex-basis: 10%;
  flex-basis: calc(10% - (#{$spacing-unit} / 2));
  max-width: 10%;
}
[size="15"] {
  flex-basis: 15%;
  flex-basis: calc(15% - (#{$spacing-unit} / 2));
  max-width: 15%;
}
[size="20"] {
  flex-basis: 20%;
  flex-basis: calc(20% - (#{$spacing-unit} / 2));
  max-width: 20%;
}
[size="25"] {
  flex-basis: 25%;
  flex-basis: calc(25% - (#{$spacing-unit} / 2));
  max-width: 25%;
}
[size="30"] {
  flex-basis: 30%;
  flex-basis: calc(30% - (#{$spacing-unit} / 2));
  max-width: 30%;
}
[size="35"] {
  flex-basis: 35%;
  flex-basis: calc(35% - (#{$spacing-unit} / 2));
  max-width: 35%;
}
[size="33"] {
  flex-basis: 33.333%;
  flex-basis: calc(33.333% - (#{$spacing-unit} / 2));
  max-width: 33.333%;
}
[size="40"] {
  flex-basis: 40%;
  flex-basis: calc(40% - (#{$spacing-unit} / 2));
  max-width: 40%;
}
[size="45"] {
  flex-basis: 45%;
  flex-basis: calc(45% - (#{$spacing-unit} / 2));
  max-width: 45%;
}
[size="50"] {
  flex-basis: 50%;
  flex-basis: calc(50% - (#{$spacing-unit} / 2));
  max-width: 50%;
}
[size="55"] {
  flex-basis: 55%;
  flex-basis: calc(55% - (#{$spacing-unit} / 2));
  max-width: 55%;
}
[size="60"] {
  flex-basis: 60%;
  flex-basis: calc(60% - (#{$spacing-unit} / 2));
  max-width: 60%;
}
[size="65"] {
  flex-basis: 65%;
  flex-basis: calc(65% - (#{$spacing-unit} / 2));
  max-width: 65%;
}
[size="66"] {
  flex-basis: 66.666%;
  flex-basis: calc(66.666% - (#{$spacing-unit} / 2));
  max-width: 66.666%;
}
[size="70"] {
  flex-basis: 70%;
  flex-basis: calc(70% - (#{$spacing-unit} / 2));
  max-width: 70%;
}
[size="75"] {
  flex-basis: 75%;
  flex-basis: calc(75% - (#{$spacing-unit} / 2));
  max-width: 75%;
}
[size="80"] {
  flex-basis: 80%;
  flex-basis: calc(80% - (#{$spacing-unit} / 2));
  max-width: 80%;
}
[size="85"] {
  flex-basis: 85%;
  flex-basis: calc(85% - (#{$spacing-unit} / 2));
  max-width: 85%;
}
[size="90"] {
  flex-basis: 90%;
  flex-basis: calc(90% - (#{$spacing-unit} / 2));
  max-width: 90%;
}
[size="95"] {
  flex-basis: 95%;
  flex-basis: calc(95% - (#{$spacing-unit} / 2));
  max-width: 95%;
}

[height="full"] {
  display: flex;
  height: 100vh;
  min-height: 600px;
}

// Masonry Row
row-masonry, .row-masonry {
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  width: 100%;
  display: block;
  column, .column {
    display: inline-block!important;
    width: 100%!important;
    break-inside: avoid;
    backface-visibility: hidden;
  }
}

[column-count="1"] {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}
[column-count="2"] {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
[column-count="3"] {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}
[column-count="4"] {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
}
[column-count="5"] {
  -moz-column-count: 5;
  -webkit-column-count: 5;
  column-count: 5;
}
[column-count="6"] {
  -moz-column-count: 6;
  -webkit-column-count: 6;
  column-count: 6;
}
