$icomoon-font-path: "fonts" !default;

$icon-train: "\2020";
$icon-coffee: "\2248";
$icon-google: "\a9";
$icon-share: "\78";
$icon-menu: "\2630";
$icon-medium: "\b5";
$icon-septa-bsl: "\cd";
$icon-septa-mfl: "\cf";
$icon-septa-bus: "\df";
$icon-septa-trolley: "\c5";
$icon-septa-regional: "\e5";
$icon-post-alert: "\21";
$icon-assignment: "\117";
$icon-explore: "\115";
$icon-face: "\54";
$icon-trending: "\eb";
$icon-post-chat: "\114";
$icon-send: "\52";
$icon-numbers: "\ea";
$icon-power: "\35";
$icon-tags: "\e8";
$icon-car: "\42";
$icon-flight: "\e9";
$icon-drink: "\50";
$icon-post-image: "\4a";
$icon-post-message: "\27";
$icon-post-hangout: "\22";
$icon-fire: "\4b";
$icon-vip: "\2605";
$icon-calendar: "\49";
$icon-clock: "\f6";
$icon-apple: "\28";
$icon-android: "\29";
$icon-medic: "\58";
$icon-ok: "\6b";
$icon-trophy: "\55";
$icon-pony-head: "\3b";
$icon-hotel: "\68";
$icon-airport: "\41";
$icon-day: "\7c";
$icon-food-bank: "\2c";
$icon-checklist: "\31";
$icon-attraction: "\32";
$icon-poster: "\34";
$icon-offline: "\36";
$icon-scroll: "\37";
$icon-film: "\60";
$icon-gallery: "\7e";
$icon-exhibit: "\45";
$icon-mlpforums: "\4d";
$icon-arcade: "\61";
$icon-eqtv: "\65";
$icon-poniverse: "\70";
$icon-ponyfm: "\6f";
$icon-roleplay: "\6c";
$icon-pie: "\57";
$icon-chat: "\63";
$icon-download: "\75";
$icon-badge: "\51";
$icon-map: "\59";
$icon-help: "\48";
$icon-search: "\53";
$icon-location: "\4c";
$icon-cog: "\43";
$icon-heart: "\2665";
$icon-cash: "\24";
$icon-card: "\25";
$icon-people: "\2b";
$icon-news: "\5c";
$icon-home: "\2f";
$icon-schedule: "\6e";
$icon-mail: "\6d";
$icon-point-up: "\26";
$icon-point-right: "\7d";
$icon-point-down: "\2a";
$icon-point-left: "\7b";
$icon-facebook: "\66";
$icon-twitter: "\40";
$icon-feed: "\72";
$icon-dribbble: "\62";
$icon-github: "\47";
$icon-tumblr: "\74";
$icon-skype: "\73";
$icon-fimfic: "\192";
$icon-newspaper: "\2dc";
$icon-youtube: "\79";
$icon-up-left: "\2d8";
$icon-up: "\5e";
$icon-up-right: "\af";
$icon-right: "\3e";
$icon-down-right: "\2265";
$icon-down: "\76";
$icon-down-left: "\2264";
$icon-left: "\3c";
$icon-deviantart: "\a5";
$icon-chrome: "\e7";
$icon-firefox: "\c1";
$icon-IE: "\a8";
$icon-edge: "\2c6";
$icon-safari: "\f8";
$icon-opera: "\3c0";
$icon-cc-sharealike: "\e901";
$icon-cc-share: "\e902";
$icon-cc-remix: "\e903";
$icon-cc-public-domain: "\e904";
$icon-cc-noderivs: "\e905";
$icon-cc-noncommercial-us: "\e906";
$icon-cc-noncommercial-eu: "\e907";
$icon-cc-attribution: "\e908";
$icon-cc: "\e909";
