// Navigation
.nav {
  &-brand {
    font-family: $title-font-family;
    font-size: 1.75em;
  }
  &-icon {
    font-size: 1.35em;
    margin-left: .25em;
  }
  &-actions {
    text-align: right;
    a {
      display: inline-block;
      padding: .5em 1em;
      font-weight: bold;
      &:hover {
        background: $primary;
        color: $white;
      }
    }
    span {
      display: inline-block;
      padding: .5em 1em;
      font-weight: normal;
    }
    @include media-query($on-laptop) {
      text-align: left!important;
    }
    @include media-query($on-palm) {
      a, span {
        padding: .5em .25em;
      }
    }
  }
}

// Page header
header {
  // background-color: $primary;
  // color: $white;
}

// Link bar
.link-bar {
  a:not(.twitter-button) {
    margin-right: 10px;
    icon {
      margin-left: 5px;
    }
  }
  .twitter-button {
    margin-top: -2px;
  }
}

// 404
#four-oh-four {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: $secondary;
  color: white;

  position: absolute;
  top: 0;
  left: 0;
  h1 {
    margin-top: 1em;
  }
  a {
    color: white;
  }
}

// Schedule
.schedule {
  background: $secondary;
  h2, h3 {
    margin-top: 0;
    text-align: left!important;
    font-size: 34px;
    line-height: 1.25em;
  }
  .schedule-event-time {
    text-align: right;
    line-height: 50px;
    vertical-align: middle;
    @include media-query($on-palm) {
      text-align: left;
      display: inline-block;
      color: $white;
      background: $black;
      line-height: 2em;
    }
  }
  columny[size="85"], columny[size="80"] {
    border-bottom: 2px solid rgba(0,0,0,.25);
    padding-bottom: 5px;
    @include media-query($on-palm) {
      border-bottom: none;
    }
  }
}

// Footer
footer {
  background: #f1f1f1;
  border-top: 2px solid #dadada;
  @include media-query($on-palm) {
    .button {
      display: block;
      float: none;
      text-align: center;
    }
  }
}

// Buttons
.button {
  color: $black!important;
}

// Social media button and links
// Brand colors: http://brandcolors.net/
$twitter: #55acee;
$facebook: #3b5998;
$youtube: #cd201f;
$deviantart: #05cc47;
$tumblr: #35465c;
.twitter-button {
  font-size: 13px;
  line-height: 26px;
  font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
  -webkit-user-select: none;
  display: inline-block;
  zoom: 1;
  position: relative;
  padding: 1px 8px 1px 6px;
  font-weight: 500;
  color: #fff!important;
  cursor: pointer;
  background-color: #1b95e0;
  box-sizing: border-box;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-font-smoothing: subpixel-antialiased;
  text-decoration: none;
  &:hover, &:focus, &:active {
    background-color: #0c7abf;
    text-decoration: none;
  }
  &:active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.1);
  }
  icon {
    margin: 0!important;
  }
}
.link-youtube, .link-heart {
  color: $youtube;
}
.link-twitter {
  color: $twitter;
}
.link-facebook {
  color: $facebook;
}
.link-deviantart {
  color: $deviantart;
}
.link-tumblr {
  color: $tumblr;
}
