// Page border effect
html {
  padding: 12px;
  background: linear-gradient($black,transparent);
  @include media-query($on-laptop) {
    padding: 8px;
  }
  @include media-query($on-palm) {
    padding: 0px;
  }
}

// Navigation
#navigation {
  // background: $primary-darker;
  // color: $white;
  // box-shadow: 0 2px 5px rgba(0,0,0,0.25);

  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9900;
  padding: 1em 0;

  a {
    // color: $white;
    color: $black;
  }

  .site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &, &:visited {
      // color: $grey-dark;
    }
  }
  .site-nav {
    float: right;
    line-height: 56px;
    font-family: $accent-font-family;

    .menu-icon {
      display: none;
    }

    .page-link {
      // color: $text-color;
      line-height: $base-line-height;

      // Gaps between nav items, but not on the first one
      &:not(:first-child) {
        margin-left: 20px;
      }
    }

    @include media-query($on-palm) {
      position: absolute;
      top: 9px;
      right: 30px;
      background-color: $background-color;
      border: 1px solid $grey-light;
      border-radius: 5px;
      text-align: right;
      z-index: 9999;
      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
        padding-bottom: 25px;
        > svg {
          width: 18px;
          height: 15px;
          path {
            fill: $grey-dark;
          }
        }
      }
      .trigger {
        clear: both;
        display: none;
      }
      &:hover .trigger {
        display: block;
        padding-bottom: 5px;
      }
      .page-link {
        display: block;
        padding: 5px 10px;
        color: $black;
      }
    }
  }
}

// Page header
header {
  padding: 0;
  text-align: center;
  // background-color: $primary;
  // color: $white;
  .cover {
    background-image: url(/media/patterns/dot.png);
    background-repeat: repeat;
    background-size: 18px 18px;
    text-align: center;
    height: 40vh;
    min-height: 200px;
    max-height: 400px;
  }
  container {
    max-width: 650px;
    h1 {
      margin-top: -.75em;
    }
  }
}

// Page content
.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $spacing-unit;
  }
}
.post-meta {
  font-size: $small-font-size;
  opacity: .75;
}

// Posts
.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  margin-top: $spacing-unit / 2;
  @include media-query($on-laptop) {
    font-size: 36px;
  }
}
.post-content {
  margin-bottom: $spacing-unit;
}

// Guests
.guest {
  margin-left: 150px;
  margin-bottom: 3em;
  @include media-query($on-palm) {
    text-align: center;
    margin-left: 0;
  }
  .avatar {
    background-color: lightGray;
    background-image: url(/media/guests/undefined-avatar.png);
    width: 120px;
    height: 120px;
    margin-left: -150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    display: block;
    float: left;
  }
  h2 {
    vertical-align: middle;
    small, .aka {
      font-size: .75em;
      margin-left: 10px;
      font-weight: normal;
      font-family: $accent-font-family;
      @include media-query($on-palm) {
        display: block;
      }
    }
  }
  &-links {
    @extend .link-bar;
  }
  @include media-query($on-palm) {
    padding-left: 0;
    .avatar {
      width: 150px;
      height: 150px;
      margin-left: auto;
      margin: 0 auto 1em;
      float: none;
    }
  }
  &-embed-list {
    position: relative;
    max-height: 404px;
    overflow: hidden;
  }
  &-embed {
    text-align: center;
    padding-left: 0;
    display: inline-block;
    margin-bottom: 1em;
    margin-left: 0;
    // margin: 1em !important;
    min-width: 142px;
    flex-basis: 142px!important;
    .avatar {
      width: 100px;
      height: 100px;
      display: block;
      margin: auto;
      margin-left: auto;
      float: initial;
      margin-bottom: 20px;
      min-height: auto;
    }
    h2, h3 {
      display: block;
      font-size: 1.05em;
      font-weight: normal;
      margin-bottom: .35em;
    }
    small, .aka {
      font-size: .85em;
      font-weight: normal;
      font-family: $accent-font-family;
    }
  }
}

// Link bar
.link-bar {
  a:not(.twitter-button) {
    margin-right: 10px;
    icon {
      margin-left: 5px;
    }
  }
  .twitter-button {
    margin-top: -2px;
  }
}

// Project navigation
.projbox {
  display: block;
  padding: 4.25em 1em 0;
  border-radius: 0px;
  color: white;
  h1 {
    font-size: 4.25em;
  }
  &:hover {
    color: white;
  }
}

// Pricing Tables
.reg {
  .reg-column {
    border: 1px solid black;
    box-shadow: 0 0 10px lightGray;
  }
  .reg-tier, .reg-perks {
    padding: 1em;
  }
  .reg-tier {
    text-align: center;
    font-size: 1.25em;
    background: black;
    color: white;
    a {
      margin-top: 1em;
      margin-bottom: 0;
      color: white;
      border-radius: 4px;
    }
  }
  .reg-perks {
    padding-bottom: 0;
  }
  ul {
    text-align: left;
    // margin-bottom: 0;
  }
}

// 404
#four-oh-four {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: $secondary;
  color: white;

  position: absolute;
  top: 0;
  left: 0;
  h1 {
    margin-top: 1em;
  }
  a {
    color: white;
  }
}

// Social media button and links
// Brand colors: http://brandcolors.net/
$twitter: #55acee;
$facebook: #3b5998;
$youtube: #cd201f;
$deviantart: #05cc47;
$tumblr: #35465c;
.twitter-button {
  font-size: 13px;
  line-height: 26px;
  font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
  -webkit-user-select: none;
  display: inline-block;
  zoom: 1;
  position: relative;
  padding: 1px 8px 1px 6px;
  font-weight: 500;
  color: #fff!important;
  cursor: pointer;
  background-color: #1b95e0;
  box-sizing: border-box;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-font-smoothing: subpixel-antialiased;
  text-decoration: none;
  &:hover, &:focus, &:active {
    background-color: #0c7abf;
    text-decoration: none;
  }
  &:active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.1);
  }
  icon {
    margin: 0!important;
  }
}
.link-youtube {
  color: $youtube;
}
.link-twitter {
  color: $twitter;
}
.link-facebook {
  color: $facebook;
}
.link-deviantart {
  color: $deviantart;
}
.link-tumblr {
  color: $tumblr;
}
