// Override
column {
  margin-bottom: 0;
}

// Taco Buttons
.button {
  background: linear-gradient($secondary,darken($secondary,15%));
  padding: 1em 1em .5em 1em;
  border-top-left-radius: 100% 100px;
  border-top-right-radius: 100% 100px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 -2px 3px 2px  lighten($primary,5%), 3px -3px 0px 0px #0ff719, -3px -3px 0px 0px #f14545, 0 2px 2px rgba(150,150,100,.5);
  // box-shadow: 0 -2px 3px 2px #d97e2f, 1px -4px 1px 0px #0ff719, -1px -4px 1px 0px #f14545, 0 2px 2px rgba(150,150,100,.5);
  transition: 200ms ease all;
  &:hover {
      background: -webkit-linear-gradient($secondary, darken($secondary,20%));
      background: -o-linear-gradient($secondary, darken($secondary,20%));
      background: linear-gradient($secondary, darken($secondary,20%));
      box-shadow: 0 -4px 3px 2px  $primary, 4px -5px 0px 0px #0ff719, -4px -5px 0px 0px #f14545, 0 2px 4px rgba(50, 50, 50, 0.75);
    }
  &:active, &:focus {
    background: linear-gradient($secondary,darken($secondary,15%));
    box-shadow: 0 -4px 3px 2px  $primary, 4px -5px 0px 0px #0ff719, -4px -5px 0px 0px #f14545, inset 0 -2px 10px rgba(50, 50, 50, 0.75);
  }
  &.button-large {
  }
}

// Navigation
.nav {
  padding: 20px 0;
  background: $secondary;
  // box-shadow: 0 0 4px rgba(0,0,0,.5);
  &-brand {
    font-family: $title-font-family;
    font-size: 1.75em;
  }
  &-icon {
    font-size: 1.35em;
    margin-left: .25em;
  }
  &-actions {
    text-align: right;
    a {
      display: inline-block;
      padding: .5em 1em;
      font-weight: bold;
      &:hover {
        background: $primary;
        color: $white;
      }
    }
    span {
      display: inline-block;
      padding: .5em 1em;
      font-weight: normal;
    }
    @include media-query($on-laptop) {
      text-align: left!important;
    }
    @include media-query($on-palm) {
      a, span {
        padding: .5em .25em;
      }
    }
  }
}

// Page header
header {
  // background-color: $primary;
  // color: $white;
  background: $secondary;
  .title {
    max-width: 560px;
  }
  .subtitle {
    font-size: 1.35em;
    line-height: 1.5em;
  }
  &:not(.cover-photo) {
    padding-top: 0;
  }
  &.cover-photo {
    background-color: black;
    background-image: url(http://localhost:4000/media/photos/one_darker.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    a:not(.button) {
      color: $secondary;
      text-decoration: underline;
    }
  }
}

// Link bar
.link-bar {
  a:not(.twitter-button) {
    margin-right: 10px;
    icon {
      margin-left: 5px;
    }
  }
  .twitter-button {
    margin-top: -2px;
  }
}

// 404
#four-oh-four {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: $secondary;
  color: white;

  position: absolute;
  top: 0;
  left: 0;
  h1 {
    margin-top: 1em;
  }
  a {
    color: white;
  }
}

// Homepage Header
#welcome {
  h1 {
    line-height: 1.1em;
    margin-bottom: .5em;
  }
}

// Schedule
.schedule {
  background: $white;
  .timeline {
    background: $secondary;
    padding-right: 15px;
    margin-top: -30px;
    padding-top: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  h2 {
    margin-top: 0;
    text-align: left!important;
    font-size: 26px;
    line-height: 1.25em;
    line-height: 1.15em;
    display: inline-block;
    border-bottom: 4px solid $primary-darker;
  }
  h3:first-of-type {
    margin-bottom: .65em;
  }
  .schedule-event-time {
    text-align: right;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 0;
    padding-right: 15px;
    @include media-query($on-palm) {
      text-align: left;
      display: inline-block;
      color: $white;
      background: $black;
      line-height: 2em;
    }
  }
  .schedule-event-description {
    // font-style: italic;
  }
  columny[size="85"], columny[size="80"] {
    border-radius: 0px;
    padding: 5px 10px 1em 10px;
    // border-bottom: 3px solid $secondary-darker;

    p:last-of-type {
      // margin-bottom: 0;
    }
    @include media-query($on-palm) {
      border-bottom: none;
    }
  }
  // row:last-of-type columny[size="85"], row:last-of-type columny[size="80"] {
  //   border-bottom: none;
  // }
}

.sponsor img {
  max-height: 60px;
}

// Footer
footer {
  background: #f1f1f1;
  border-top: 2px solid #dadada;
  @include media-query($on-palm) {
    .button {
      display: block;
      float: none;
      text-align: center;
    }
  }
}

// Buttons
.button {
  color: $black!important;
}

// Social media button and links
// Brand colors: http://brandcolors.net/
$twitter: #55acee;
$facebook: #3b5998;
$youtube: #cd201f;
$deviantart: #05cc47;
$tumblr: #35465c;
.twitter-button {
  font-size: 13px;
  line-height: 26px;
  font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
  -webkit-user-select: none;
  display: inline-block;
  zoom: 1;
  position: relative;
  padding: 1px 8px 1px 6px;
  font-weight: 500;
  color: #fff!important;
  cursor: pointer;
  background-color: #1b95e0;
  box-sizing: border-box;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-font-smoothing: subpixel-antialiased;
  text-decoration: none;
  &:hover, &:focus, &:active {
    background-color: #0c7abf;
    text-decoration: none;
  }
  &:active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.1);
  }
  icon {
    margin: 0!important;
  }
}
.link-youtube, .link-heart {
  color: $youtube;
}
.link-twitter {
  color: $twitter;
}
.link-facebook {
  color: $facebook;
}
.link-deviantart {
  color: $deviantart;
}
.link-tumblr {
  color: $tumblr;
}
