---
layout: blank
home: true
permalink: /
---

<header id="welcome" class="cover-photo">

  <container>
    <row align="middle" float="center">
      <column size="70" class="text-left">

        <h1 class="title">
          A fun night of
          code &amp; tacos!
        </h1>
        {% for meetup in site.meetups | reverse | limit: 1 %}
        <p class="subtitle">
          Our next meetup will be on {{ meetup.date | date_to_xmlschema | date: "<b>%A, %B %d</b> at %-I:%M %P" }} at <b>{{ meetup.venue }}</b> in {{ meetup.city }} (<a href="https://www.google.com/maps/search/{{ meetup.address }}, {{ meetup.city}}" target="_blank">map</a>).
        </p>
        <p class="subtitle">
          Tickets are ${{ meetup.price }} and leftover proceeds go to <a href="{{ meetup.charity-url }}" target="_blank">{{ meetup.charity }}</a>.
        </p>
        <br>
        <p class="no-margin-bottom">
          {% if meetup.rsvp-url %}
          <a href="{{ meetup.rsvp-url }}" class="button button-large" target="_blank">Buy Tickets <icon class="icon-right"></icon></a>
          {% else %}
          <a href="#" class="button">TICKETS SOON!</a>
          {% endif %} &nbsp;&nbsp;
        </p>
      </column>
      <column size="5"></column>
      <column size="25" class="text-left">
        <!-- <p><b>DATE AND TIME</b>
        <br>{{ meetup.date | date_to_xmlschema | date: "%B %d, %Y" }} {{ meetup.date | date_to_xmlschema | date: "%-I:%M" }}-9:00pm</p>
        <br>
        <p><b>LOCATION</b>
        <br>{{ meetup.venue }} <br>{{ meetup.address }}<br>{{ meetup.city }}, {{ meetup.state }}</p> -->
        {% endfor %}
      </column>
    </row>
  </container>

</header>
{% assign curDate = site.time | date: '%s' %}
{% for meetup in site.meetups | reverse | limit: 1 %}
<section id="schedule" class="schedule">
  <container>
    <row>
      <column size="70">
        <h1 style="no-margin-bottom">{{ meetup.title }} Schedule</h1>
        <!-- Schedule loop goes here -->
        {% for item in meetup.schedule %}
        <row class="schedule-event">
          <columny size="15" class="schedule-event-time">
            {{ item.time | date_to_xmlschema | date: "%-I:%M %P" }}
          </columny>
          <columny size="85">
            <h2 class="schedule-event-title">
              {{ item.title }}
            </h2>
            {% if item.author %}
            <p class="schedule-event-author">by {{ item.author }} <a href="https://twitter.com/{{ item.twitter }}" target="_blank">@{{ item.twitter }}</a></p>
            {% endif %}
            {% if item.description %}
            <p class="schedule-event-description">{{ item.description }}</p>
            {% endif %}
          </columny>
        </row>
        {% endfor %}
      </column>
      <column size="30">
        <h1>&nbsp;</h1>
        <h3>About</h3>
        <p>TacoJS is a meetup about web technology with a side of tacos and live performances. We meet on a Thursday every month.</p>
        <p>All participants are expected to follow <a href="http://jsconf.com/codeofconduct.html" target="_blank">JSConf Code of Conduct</a>.</p>
        <br>
        <h3>Tacos</h3>
        <p>Every month, we get fresh tacos delivered from a different jawnt across the Philadelphia area. This month's tacos are from <a href="{{ meetup.tacos-url }}" target="_blank">{{ meetup.tacos }}</a>!</p>
        <p>If you have dietary restrictions we should be aware of, please tell us in the form after you RSVP.</p>
        <br>
        <h3>Thank You</h3>
        <p>This month's event made possible by our wonderful sponsors:</p>
        <p>
          {% for sponsor in meetup.sponsors %}
            <a href="{{ sponsor.url }}" target="_blank" class="sponsor"><img src="{{ sponsor.logo-url }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}"/></a>
          {% endfor %}
        </p>
        <p><strong>Interested in sponsoring? <a href="/sponsor">Details</a></strong>. (Leftover proceeds go to charity!)</p>
      </column>
    </row>
  </container>
</section>
{% endfor %}

<section id="involved">
  <container>
    <h1>Get Involved</h1>
    <row>
      <column>
        <h3>Give a Talk</h3>
        <p>All participants are expected to follow the JSConf Code of Conduct.</p>
        <a href="/speak" class="button">Speaker Details <icon class="icon-right"></icon></a>
      </column>
      <column>
        <h3>Perform</h3>
        <p>You don’t have to be great, just enthusiastic. Try to keep it to around six minutes.</p>
        <a href="/perform" class="button">Performance Details <icon class="icon-right"></icon></a>
      </column>
    </row>
  </container>
</section>
