---
layout: blank
home: true
permalink: /
---

<header id="welcome">

  <container>
    <row align="middle" float="center">
      <column size="50" class="text-left">

        <h1 class="title">
          A fun night of
          code &amp; tacos.
        </h1>
        <a href="#" class="button">TICKETS SOON!</a>

      </column>
      <column size="50" class="text-left">
        {% for meetup in site.meetups | limit: 1 %}
        <p><b>DATE AND TIME</b>
        <br>{{ meetup.date | date_to_string }} 6:30-9PM</p>
        <br>
        <p><b>LOCATION</b>
        <br>{{ meetup.venue }} <br>{{ meetup.address }}</p>
        {% endfor %}
      </column>
    </row>
  </container>

</header>
<section id="schedule" class="schedule">
  <container>
    <h1>Schedule</h1>
    {% assign curDate = site.time | date: '%s' %}
    {% for meetup in site.meetups | limit: 1 %}
    {% for item in meetup.schedule %}
    <row class="schedule-event">
      <columnz size="20" class="schedule-time">
        {% if item.xtime %}
        {{ item.xtime }}
        {% else %}
        {{ item.time | date: "%-I:%M %P" }}
        {% endif %}
      </columnz>
      <columnz size="80">
        <h2>
          {{ item.title }}
        </h2>
        {% if item.author %}
        <p>{{ item.author }} {{ item.twitter }}</p>
        {% endif %}
        {% if item.description %}
        <p>{{ item.description }}</p>
        {% endif %}
      </columnz>
    </row>
    {% endfor %}
    {% endfor %}
  </container>
</section>
<section id="about">
  <container>
    <h1>About</h1>
    <p>TacoJS is a meetup about web technology with a side of tacos and live performances. We meet on a Thursday every month.</p>
    <p>All participants are expected to follow the JSConf Code of Conduct.</p>
  </container>
</section>
<section id="involved">
  <container>
    <h1>Get Involved</h1>
    <row>
      <column>
        <h3>Give a Talk</h3>
        <p>All participants are expected to follow the JSConf Code of Conduct.</p>
        <a href="/speak" class="button">Speaker Details <icon class="icon-right"></icon></a>
      </column>
      <column>
        <h3>Perform</h3>
        <p>You don’t have to be great, just enthusiastic. Try to keep it to around six minutes.</p>
        <a href="/perform" class="button">Performance Details <icon class="icon-right"></icon></a>
      </column>
    </row>
  </container>
</section>
