---
layout: blank
---
<header class="post-header">
  <container>

    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }} @ {{ page.venue }}</p>

  </container>
</header>
<section class="post">
  <container>

    <article class="post-content">
      {{ content }}
    </article>

  </container>
</section>
<section id="schedule" class="schedule">
  <container>
    <!-- Schedule loop goes here -->
    {% assign curDate = site.time | date: '%s' %}
    <row>
      <column size="15"></column>
      <column size="85">
        <h1>{{ page.title }} Schedule</h1>
      </column>
    </row>
    {% for item in page.schedule %}
    <row class="schedule-event">
      <columny size="15" class="schedule-event-time">
        {{ item.time | date_to_xmlschema | date: "%-I:%M %P" }}
      </columny>
      <columny size="85">
        <h2 class="schedule-event-title">
          {{ item.title }}
        </h2>
        {% if item.author %}
        <p class="schedule-event-author">{{ item.author }} <a href="https://twitter.com/{{ item.twitter }}" target="_blank">@{{ item.twitter }}</a></p>
        {% endif %}
        {% if item.description %}
        <p class="schedule-event-description">{{ item.description }}</p>
        {% endif %}
      </columny>
    </row>
    {% endfor %}
  </container>
</section>
